.btn {
  display: inline-block;
  padding: 21px 47px;
  font-weight: 700;
  border-radius: 50px;
  text-transform: uppercase;
  background: #22cd22;
  box-shadow: 0 0 15px transparent;
  color: #ffffff;
  transition: 0.3s linear;
  @media (max-width: 768px) {
    padding: 15px 25px;
  }
  @media (any-hover: hover) {
    &:hover {
      background: #32cd32;
      box-shadow: 0 0 15px #219e21;
    }
  }
}